<a href="https://colab.research.google.com/github/mwass/collab_notebooks/blob/master/Copy_of_AfterWork_Data_Science_Sampling_Techniques_with_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Google Colaboratory, you will need to make a copy of it. Go to **File** > **Save a Copy in Drive**. You can then use the new copy that will appear in the new tab.</font>

# Sampling Techniques with Python Notebook

## 1. Simple Random Sampling (SRS)

### Importing our Prerequisites

In [0]:
# Importing pandas for performing data maniputation
# 
import pandas as pd

# Importing numpy for performing scientific computations
import numpy as np

# Importing random module for random sampling
# 
import random

### Examples

In [0]:
# Example 1
# ---
# Selecting a random sample without replacement
# ---
# Some data can be stored in a list and you would be required to select more than 
# one item from that particular list. 
# ---
# In this example, we will be selecting more than one item from a given list. 
# We will use the random.sample() function to return a particular subset list 
# of items from the given list.
# The function is normally used for random sampling without replacement.
# k in the function, will be an integer value that will specify the length of a sample.
# ---
# 

# Defining our list 
# 
example_list = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

# Then select a sample of 2 items
# 
print("Selecting 2 random items from our list", random.sample(example_list, k = 2))

Selecting 2 random items from our list [20, 40]

In [0]:
# Example 2
# ---
# We can also select a random sample with replacement from a given list.
# This would mean that we can get the same item more than once during sampling.
# Let's do this through the use of the random.choice() function.
# ---
#

# Defining our list
# ---
#
footballers = ["Messi", "Ronaldo", "Salah", "Mane", "Alison", "Van Dyke", "Relah"]

# Then select a sample of 4 items
# 
print("Random sample with replacement:", random.choices(footballers, k = 4))

Random sample with replacement: ['Mane', 'Mane', 'Van Dyke', 'Mane']

In [0]:
# Challenge 3
# ---
# We can also select a random sample from a given dataset as show below:
# ---
#

# We first import and preview our dataset.
# This will help us understand our dataset before doing anything else.
# ---
# 
spending_df = pd.read_csv("https://bit.ly/2WtrItx")
spending_df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [0]:
# We then determine the size of our dataset;  (records, columns) 
# ---
#
spending_df.shape

(200, 5)

In [0]:
# Then lastly, we select and preview a random sample of 10 records 
# as using the sample() function as shown below.  
# ---
#
spending_df.sample(10)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
106         107  Female   66                  63                      50
23           24    Male   31                  25                      73
48           49  Female   29                  40                      42
93           94  Female   40                  60                      40
188         189  Female   41                 103                      17
143         144  Female   32                  76                      87
142         143  Female   28                  76                      40
11           12  Female   35                  19                      99
138         139    Male   19                  74                      10
113         114    Male   19                  64                      46

### <font color="green">Challenges</font>

In [0]:
# Challenge 1
# ---
# Select a random sample of 5 items from the given list.
# ---
# OUR CODE GOES BELOW
# 

# Creating our list 
# ---
# 
cities = ['Nairobi', 'Amsterdam', 'Johannesburg', 'Port Louis', 'St. Petersburg', 'Warsaw', 'Cairo', 'Lyon']
random.sample(cities, k=5)

['Cairo', 'Nairobi', 'Lyon', 'Amsterdam', 'St. Petersburg']

In [0]:
# Challenge 2
# ---
# Select a random sample of 3 items with replacement from the given list.
# ---
# OUR CODE GOES BELOW
# 

# Creating our list
# ---
#
cities = ['Nairobi', 'Amsterdam', 'Johannesburg', 'Port Louis', 'St. Petersburg', 'Warsaw', 'Cairo', 'Lyon']
random.choices(cities, k=5)

['Johannesburg', 'St. Petersburg', 'Port Louis', 'Amsterdam', 'St. Petersburg']

In [0]:
# Challenge 3
# ---
# Select a random sample of 100 records from the given dataset.
# ---
# Dataset url = https://bit.ly/2XUisQ4
# ---
# OUR CODE GOES BELOW
# 
my_sample = pd.read_csv("https://bit.ly/2XUisQ4")
my_sample.sample(100)

               hotel  is_canceled  ...  reservation_status  reservation_status_date
53902     City Hotel            1  ...            Canceled               2016-04-27
53109     City Hotel            1  ...            Canceled               2016-01-08
62049     City Hotel            1  ...            Canceled               2016-07-27
99015     City Hotel            0  ...           Check-Out               2016-10-08
55732     City Hotel            1  ...            Canceled               2016-03-15
...              ...          ...  ...                 ...                      ...
28075   Resort Hotel            0  ...           Check-Out               2016-09-19
107555    City Hotel            0  ...           Check-Out               2017-03-15
40426     City Hotel            0  ...           Check-Out               2015-07-28
108681    City Hotel            0  ...           Check-Out               2017-03-31
24457   Resort Hotel            0  ...           Check-Out               2016-05-22

[100 rows x 32 columns]

## 2. Systematic Sampling

### Examples

In [0]:
# Example 1
# ---
# We will use this example to demonstrate how we can perform systematic sampling.
# This systematic sampling example in this notebook has been borrowed from 
# https://bit.ly/SamplingSourceLink with some modifications.
# ---
# Let's first recall abit of some theory. The idea of systematic sampling is that, 
# given the population units numbered from 1 to N, we compute for the sampling interval, 
# given by  k = N / n, where  n  is the number of units needed for the sample. 
# After that, we choose for the random start, number between  1  and  k. 
# This random start becomes the first sample, and then the second unit in the sample 
# is obtained by adding the sampling interval to the random start, and so on. 
# ---
# There are two types of systematic sampling namely, linear and circular systematic sampling. 
# Circular systematic sampling treats the population units numbered from 1 to N in circular form,
# such that if the increment step is more than the number of N units, say N + 2, 
# the sample unit is the 2nd element in the population, and so on. 
# The following code that we will use can be used both for linear and circular. 
# ---
# Question: Perform systematic sampling given the following list.
# ---
#
 
# The dataset that we will use a numpy array which means
# we create our list then convert it to a numpy array as shown
# ---
# 
salary_data = [2500, 1500, 2000, 2500, 1800, 1200, 2400, 3000, 1500, 2000, 1000, 1000, 1100]
salary_data = np.array(salary_data) 

# The function to used for systematic sampling
# ---
# 
def sys_sample(df, r, n):
    k = df.shape[0] // n

    b = [None] * n; a = r
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Sample data" : df[b], "Index/Position" : b, "K" : k}


# We then call our sampling function with the appropriate parameters
# for random start, r = 2, and defining the number of samples, n = 4.
# ---
#  
sys_sample(salary_data, r = 1, n = 4)

{'Index/Position': [1, 4, 7, 10],
 'K': 3,
 'Sample data': array([1500, 1800, 3000, 1000])}

In [0]:
# Example 2
# ---
# Let's now work with a dataset by using the customer dataset we imported earlier.
# ---

# Then let's recreate the above function for systematic sampling
# then tweak it abit by returning our sampled values

def sys_sample(df, r, n):
    k = df.shape[0] // n

    b = [None] * n; a = r
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return spending_df[spending_df.index.isin(b)]  

# Performing sampling for random start, r = 2, 
# and defining the number of samples, n = 4
# ---
# 
sys_sample(spending_df, r = 2, n = 4)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
2             3  Female   20                  16                       6
52           53  Female   31                  43                      54
102         103    Male   67                  62                      59
152         153  Female   44                  78                      20

### <font color="green">Challenges</font>

In [0]:
# Challenge 1
# ---
# Create a systematic sample from the following cities list. 
# ---
# cities = ['Nairobi', 'Amsterdam', 'Johannesburg', 'Port Louis', 'St. Petersburg', 'Warsaw', 'Cairo', 'Lyon']
# ---
# OUR CODE GOES BELOW
# 
def sys_sample(df, r, n):
    k = df.shape[0] // n

    b = [None] * n; a = r
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return {"Sample data" : df[b], "Index/Position" : b, "K" : k}
    
cities = ['Nairobi', 'Amsterdam', 'Johannesburg', 'Port Louis', 'St. Petersburg', 'Warsaw', 'Cairo', 'Lyon']
cities = np.array(cities)
sys_sample(cities, r = 1, n = 4)

{'Index/Position': [1, 3, 5, 7],
 'K': 2,
 'Sample data': array(['Amsterdam', 'Port Louis', 'Warsaw', 'Lyon'], dtype='<U14')}

In [4]:
# Challenge 2
# ---
# Perfom systematic sampling on the following Rio City temperature.
# ---
# Dataset url = https://bit.ly/RioTemperature
# ---
# OUR CODE GOES BELOW
# 
def sys_sample(df, r, n):
    k = df.shape[0] // n

    b = [None] * n; a = r
    b[0] = a

    for i in np.arange(1, n):
        a = a + k

        if a > df.shape[0]:
            a = a - df.shape[0]

        b[i] = a

    return df[df.index.isin(b)]

rio_temperature = pd.read_csv("https://bit.ly/RioTemperature")
sys_sample(rio_temperature, r = 2, n = 4)

    YEAR     JAN    FEB    MAR    APR  ...   D-J-F  M-A-M  J-J-A  S-O-N  metANN
2   1975   25.27  26.92  26.43  22.82  ...   25.58  23.54  21.05  23.05   23.31
13  1986  999.90  27.93  26.95  25.97  ...  999.90  25.45  22.15  23.42   24.60
24  1997   26.52  28.03  25.35  24.57  ...   27.02  24.12  21.76  24.60   24.38
35  2008   26.25  26.54  26.37  25.28  ...   26.59  24.78  21.78  23.51   24.16

[4 rows x 18 columns]

## 3. Stratified Sampling

### Examples

In [0]:
# Example 1
# ---
# While performing stratified sampling, we can perform a sample a fraction 
# of each group as shown in this example:
# ----
# Dataset url = https://bit.ly/2WtrItx

# Lets first import and preview our dataset
# ---
#
df_customers = pd.read_csv('https://bit.ly/2y5CRYc')
df_customers.head()

In [0]:
# We then use groupby.apply() with sample as shown below.
# In the process we use frac to define the fraction of our group we would like to get.
# ---
# 
df_customers.groupby('sex').apply(pd.DataFrame.sample, frac=.005)


# Method 2
# ---
# Alternatively, if MultiIndex is not required, we may specify group_keys = False 
# to groupby and get our stratified sampling:
# ---
# df_customers.groupby('sex', group_keys = False).apply(pd.DataFrame.sample, frac=.005)

In [0]:
# Example 2
# ---
# If we would like to sample a fixed number of rows, 
# we can shuffle the DataFrame beforehand, then use the groupby().head()
# ----
# 
df_customers.sample(frac=1).groupby('sex').head(2)


# Method 2
# ---
# df_customers.groupby('sex', group_keys=False).apply(pd.DataFrame.sample, n=2)

### <font color="green">Challenges</font>

In [0]:
# Challenge
# ---
# Question: Going through a Airbus' restaurants sales datset, you would like to perform 
# data analysis to understand the customers better. Select stratified samples of 
# a fraction of records and of a fixed number of records using the following 
# dataset based on day.
# ---
# Dataset url = https://bit.ly/AirlinePassDataset
# ---
# OUR CODE GOES BELOW
#

## 4. Cluster Sampling

### Examples

In [0]:
# Example 1
# ---
# There are many solutions ways to performing cluster sampling.
# In this example, we will be using one of the most popular methods 
# of performing cluster sampling which is the use of the K-Means Algorithm 
# ---
# This algorithm will partion our data into k clusters such that data points 
# in the same cluster are similar, and data points in the different 
# clusters are away from each other. The value of k would be the 
# no. of clusters/samples we intend to have. 
# ---
#

# Let's first import our algorithm 
# ---
# 
from sklearn.cluster import KMeans

In [0]:
# Then import the dataset that we would like to create a cluster sample from.
# ---
# Dataset url = https://bit.ly/RioTemperature

# This dataset contains telecom subscribers data.
# ---
# 
rio_temp_df = pd.read_csv('https://bit.ly/RioTemperature')
rio_temp_df.head()

In [0]:
# We then select the data that we would like to work with.
# The following code will select all the values and store them in
# an array containing a feature matrix that we will pass it 
# to our Kmeans algorithm for clustering.
# ---
# This is the format that our algorithm will accept.
# ---
# 
X = rio_temp_df.iloc[:,].values

# Let's preview our resulting data. 
# We can make comparisons with the previewed data in the previous cell.
# ---
# 
X

In [0]:
# Lets now create the K-means clusterer that we will use to perform cluster sampling. 
# Because we want two clusters, we pass 2 to the clusterer. 
# In addition we set random_state = 1, if we would like to reproduce results 
# at some later point in time. For further info about K-means, we can refer its documentation
# by following this link: https://bit.ly/2To6GKN. This will be useful 
# to explore other model parameters that you'll get to see as an output of this cell.
# ---
# 
clusterer = KMeans(3, random_state=1)

# Then passing our data the clusterer
# ---
# 
clusterer.fit(X)

In [0]:
# We then use the predict method to return the cluster that each data point 
# belongs to and then store this in a new column of our dataframe.
# ---
# 
rio_temp_df['cluster_group'] = clusterer.predict(X)

In [0]:
# We then sample our dataset to check for the assigned clustering groups 0, 1 and 2
# If we don't get to see these clusters, we can run the code again to get another set of records.
# ---
#
rio_temp_df.sample(10)

In [0]:
# To preview the records in our first cluster which is cluster 0 we can do the following:
# ---
# 
first_cluster = rio_temp_df[rio_temp_df.cluster_group.isin([0])]
first_cluster.head()

In [0]:
# To preview the records in our second cluster which is cluster 1, we can do the following;
# ---
#
second_cluster = rio_temp_df[rio_temp_df.cluster_group.isin([1])]
second_cluster.head()

In [0]:
# We can preview the records in our third cluster which is cluster 2 as shown below:
# ---
# Side note: If you investigate this cluster, and compare it with the other clusters 
# you might even think this is a cluster of outliers owing to the large values across our features.
# ---
#
third_cluster = rio_temp_df[rio_temp_df.cluster_group.isin([2])]
third_cluster.head()

### <font color="green">Challenges</font>

In [0]:
# Challenge 1
# ---
# Perform cluster sampling on the following sales dataset. 
# ---
# Dataset url = https://bit.ly/2zYvxy0
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Challenge 2
# ---  
# Use your knowledge and the above example to perform cluster sampling 
# on the following python list. Create two clusters.
# ---
# age_list = [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]
# ---
# OUR CODE GOES BELOW
#